# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/adventura-backend/.env

venv/
.env/
__pycache__/
adventura-backend/uploads/activities/1/recurrent/1747249749190-863660133.jpg
adventura-backend/uploads/provider_docs/6/gov_id.jpg
adventura-backend/uploads/provider_docs/6/selfie.jpg
adventura-backend/uploads/provider_docs/7/certificate.jpg
adventura-backend/uploads/provider_docs/7/gov_id.jpg
adventura-backend/uploads/provider_docs/7/selfie.jpg
adventura-backend/uploads/provider_docs/8/gov_id.jpg
adventura-backend/uploads/provider_docs/8/selfie.jpg
adventura-backend/uploads/reels/1/reel_1747250002274.mp4
postgrest.conf
